@import "tailwindcss";

/* Global cursor pointer for interactive elements */
button:not(:disabled),
a,
select,
[role="button"],
.cursor-pointer {
  cursor: pointer;
}

button:disabled {
  cursor: not-allowed;
}

/* .header{
    display: flex;
    justify-content: space-between;
    border: 1px solid black;
}

.nav-items > ul {

    display: flex;
    list-style-type: none;
    padding: 0px 20px 0px 0px;
    
}

.nav-items > ul > li{

    padding: 10px;
    margin: 10px;
    font-size: 24px;
}

.search {
    padding: 10px;
}

.res-card{
    margin: 5px;
    padding: 5px;
    width: 290px;
    
   
    background-color: gainsboro;
    
}

.res-card:hover {
 border: 1px solid black;
 cursor: pointer;
}

.res-container {
    display: flex;
    flex-wrap: wrap;
}

.res-logo{
    width: 190px;
    height: 130px;
    
}
.filter {
    display: flex;
}
.filter-btn {
    margin: 10px;
    cursor: pointer;
}

.shimmer-container{
    display: flex;
    flex-wrap: wrap;
}

.shimmer-card {
    margin: 20px;
    width: 200px;
    height: 400px;
    background-color: #f0f0f0;
}

.login-logout {
    cursor: pointer;
    padding: 0 20px;
}

.user-card {
    padding: 10px;
    border: 1px solid black;
} */

/* Snackbar animation */
@keyframes slide-down {
  from {
    opacity: 0;
    transform: translate(-50%, -20px);
  }
  to {
    opacity: 1;
    transform: translate(-50%, 0);
  }
}

.animate-slide-down {
  animation: slide-down 0.3s ease-out;
}